<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Gestores Públicos
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Gestores</h3>

          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <a class="btn">Adicionar</a>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="manager-items">
              <tr>
                <td>183</td>
                <td>John Doe</td>
                <td><span class="label label-success">Approved</span></td>
              </tr>
              <tr>
                <td>219</td>
                <td>Alexander Pierce</td>
                <td><span class="label label-warning">Pending</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>

  <!-- Your Page Content Here -->

</section>