<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{actionName}} Gestor
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{{model:name}}</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
          <div class="box-body">
            <div class="form-group">
              <label for="manager-name">Nome</label>
              <input class="form-control" id="manager-name" type="text" rv-value="model:name">
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button class="btn btn-danger" id="cancel">Cancelar</button>
            <button class="btn btn-primary" id="save-model">Salvar</button>
          </div>
        </form>
      </div>
      <!-- /.box -->
    </div>
  </div>

  <!-- Your Page Content Here -->

</section>

